<div class="invitados-evento">
  <h2> Ahora agreguemos a los invitados </h2>


  <h4 *ngIf="!isLoggedIn"> ¡Primero díganos quién es usted!</h4>
  <form [formGroup]="creadorForm">

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input [readonly]="isLoggedIn" formControlName="nombre" matInput placeholder="Fernando...">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email (opcional)</mat-label>
        <input [readonly]="isLoggedIn" formControlName="email" matInput placeholder="fernando@gmail.com...">
      </mat-form-field>
    </div>

  </form>

  <h4> Y ahora los invitados </h4>

  <div *ngFor="let control of controls">
    <div>
      <mat-form-field appearance="outline">
        <mat-label> Nombre </mat-label>
        <input matInput type="text" [formControl]="control">
      </mat-form-field>
      <mat-icon (click)="removeControl(control)"> clear </mat-icon>
    </div>
  </div>

  <button mat-button (click)="agregarOtro()"> Agregar otro </button>


  <button mat-button (click)="onAnterior()"> Anterior </button>
  <button mat-button (click)="onSiguiente()"> Siguiente </button>
</div>
