<div class="nombre-evento">

  <h2>Empecemos con el nombre del evento</h2>

  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input [formControl]="nombre" matInput placeholder="Ejemplo...">
  </mat-form-field>

  <h2>También podés dejar una descripción</h2>

  <mat-form-field appearance="outline">
    <mat-label>Descripción (opcional)</mat-label>
    <textarea rows="10" cols="40" [formControl]="descripcion" matInput placeholder="Ejemplo de una descripción..."></textarea>
  </mat-form-field>

  <div class="botones">
    <button mat-button (click)="onSiguiente()"> Siguiente </button>
  </div>
</div>
