<div class="evento-detail" *ngIf="!loading ; else cargando">

  <nav class="navbar">
    <div class="producto">
      Meeting-O-Matic
    </div>
    <div class="boton">
      <button *ngIf="isLoggedIn" mat-button (click)="onCerrarSesion()"> Cerrar sesión </button>
      <button *ngIf="!isLoggedIn" mat-button (click)="onIniciarSesion()"> Iniciar sesión </button>
    </div>
  </nav>

  <div *ngIf="evento ; else hayError">

    <h1 class="center"> Resultados de {{ evento.nombre }} </h1>

    <p>
      {{ evento.descripcion }}
    </p>

    <mat-form-field appearance="outline">
      <mat-label> Contraseña </mat-label>
      <input matInput type="password" [formControl]="passwordInput">
    </mat-form-field>
    <button mat-button (click)="verificar()"> Verificar </button>

    <p *ngIf="error">
      Error: {{ error }}
    </p>

    <div *ngIf="autenticado">

      <div *ngIf="evento" class="resultados-container">

        <shared-resultados [evento]="evento"></shared-resultados>

      </div>

    </div>

  </div>

  <ng-template #hayError>
    {{ error }}
  </ng-template>

</div>

<ng-template #cargando>
  cargando...
</ng-template>
