.calendar-container {
  margin-right: 15px;
  margin-left: 15px;
  max-height: 65vh;
  overflow: auto;

  .button-container {
    margin-bottom: 15px;
    display: flex;
    justify-content: start;

    button {
      background-color: red;
      color: white;
    }
  }
}
