@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.login {

  $white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;

.google-login-button-container {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 5px;
  cursor: pointer;
}

.google-btn {
  width: 150px;
  height: 42px;
  background-color: $google-blue;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: $white;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }
  &:active {
    background: $button-active-blue;
  }
}

    .spinner-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    h1 {
        text-align: center;
    }

    .error {
      text-align: center;;
      color: red;
    }

    .login-form {
        margin-left: 15px;
        margin-right: 15px;

        mat-form-field {
            width: 100%;
        }

        a {
            color: white;
        }
    }

    .disabled {
        background-color: black;
    }

    button {
        width: 100%;
        background-color: green;
        color: white;

        &:disabled {
            background-color: #e0e0e0;
            color: #8e8e8e;
        }
    }

    .no-tenes-cuenta {
        margin-top: 25px;
        text-align: center;

        .registrate {
            color: green;
        }
    }
}
