<div class="evento-detail" *ngIf="evento ; else cargando">

  <nav class="navbar">
    <div class="producto">
      Meeting-O-Matic
    </div>
    <div class="boton">
      <button *ngIf="isLoggedIn" mat-button (click)="onCerrarSesion()"> Cerrar sesión </button>
      <button *ngIf="!isLoggedIn" mat-button (click)="onIniciarSesion()"> Iniciar sesión </button>
    </div>
  </nav>

  <h1 class="center"> {{ evento.nombre }} </h1>
  <h4 *ngIf="creador"> Creado por {{ creador }} el día tal</h4>

  <p>
    {{ evento.descripcion }}
  </p>

  <mat-form-field appearance="outline">
    <mat-label> Contraseña </mat-label>
    <input matInput type="password" [formControl]="passwordInput">
  </mat-form-field>
  <button mat-button (click)="verificar()"> Verificar </button>

  <p *ngIf="error">
    Error: {{ error }}
  </p>
</div>


<div *ngIf="autenticado">

  <h4> ¿Quién es usted? </h4>
  <mat-form-field appearance="fill">
    <mat-label> Invitados </mat-label>
    <mat-select [formControl]="invitadoSeleccionado">
      <mat-option *ngFor="let invitado of invitadosSinVotar" [value]="invitado.id">
        {{ invitado.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h4> Opciones: </h4>

  <form *ngIf="slidesForm" class="example-form" [formGroup]="slidesForm" (ngSubmit)="onVotar()" ngNativeValidate>
    <div *ngFor="let opcion of evento.opciones">

      <div>
        {{ opcion.fechaInicio | date:'d MMM, h:mm a' }} hasta {{ opcion.fechaFinal | date:'h:mm a' }}
        <mat-slide-toggle formControlName="{{opcion.id}}"></mat-slide-toggle>
      </div>

    </div>
    <button *ngIf="invitadoSeleccionado.value" mat-raised-button type="submit"> Guardar elección </button>
  </form>

  <hr>



  <div *ngIf="evento && evento.resultadosPublicos ; else sinResultados" class="resultados-container">

    <shared-resultados [evento]="evento"></shared-resultados>

  </div>

  <ng-template #sinResultados>
    Los resultados sólo los podrá ver el creador del evento
  </ng-template>

</div>

<ng-template #cargando>
  cargando...
</ng-template>
