<div class="perfil">

  <shared-navbar></shared-navbar>

  <button class="toggle" (click)="toggleSidebar()">
    <mat-icon *ngIf="mostrarSidebar"> clear </mat-icon>
    <mat-icon *ngIf="!mostrarSidebar"> menu </mat-icon>
  </button>

  <div class="content">
    <div class="sidebar" *ngIf="mostrarSidebar">

      <div class="sidebar-content">
        <h2> Tu Perfil </h2>
        <p *ngIf="!mesPagado && eventosRestantes > 0">
          Te quedan {{ eventosRestantes}} eventos para este mes
        </p>
        <p *ngIf="!mesPagado && eventosRestantes == 0">
          ¡Ya no podés agregar nuevos eventos! Conviertete en Premium para tener eventos ilimitados
        </p>
        <div class="usuario">
          {{ user.email }}
        </div>
        <hr>
        <div class="filtros">
          Filtros...
        </div>

      </div>

      <div class="premium">

        <hr>
        <div *ngIf="!mesPagado">
          <p>¿Querés eventos ilimitados?</p>
          <button mat-button (click)="onPremium()"> PREMIUM </button>
        </div>

        <div *ngIf="mesPagado">
          <p>¡Ya sos PREMIUM!</p>
        </div>

      </div>

      <div class=".cho-container" id=".cho-container">
        <label for="pay"></label>
      </div>
    </div>

    <mat-divider [vertical]="true"></mat-divider>

    <div class="eventos-container" *ngIf="eventos; else cargando" [ngStyle]="{'width.%': anchoEventos}">

      <div *ngIf="! viendoEvento" class="eventos">
        <mat-card *ngIf="puedeAgregarNuevos" class="nuevo-evento-card" [routerLink]="['eventos/nuevo']">
          <mat-card-title> Nuevo evento </mat-card-title>
          <mat-card-actions>
            <mat-icon class="add-icon"> add </mat-icon>
          </mat-card-actions>
        </mat-card>

        <mat-card *ngFor="let evento of eventos">
          <mat-card-title> {{ evento.nombre }} </mat-card-title>
          <mat-card-content>
            <div> {{ evento.invitados.length }} invitados </div>
            <div> {{ evento.opciones.length }} opciones </div>
            <mat-card-actions>
              <button mat-button (click)="onVerEvento(evento)"> Ver </button>
              <button [disabled]="!puedeAgregarNuevos" mat-button (click)="onClonar(evento)"> Clonar </button>
              <button mat-button (click)="onEliminar(evento)"> Eliminar </button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </div>

      <div *ngIf="viendoEvento" class="mi-evento-container">
        <app-mi-evento-detail [evento]="eventoViendo" (salir)="onSalirDeEvento($event)"></app-mi-evento-detail>
      </div>

    </div>
  </div>

  <ng-template #cargando>
    cargando...
  </ng-template>
</div>
