<div class="perfil">

  <shared-navbar></shared-navbar>

  <button class="toggle" (click)="toggleSidebar()">
    <mat-icon *ngIf="mostrarSidebar"> clear </mat-icon>
    <mat-icon *ngIf="!mostrarSidebar"> menu </mat-icon>
  </button>

  <div class="content">
    <div class="sidebar" *ngIf="mostrarSidebar">

      <div class="sidebar-content">
        <h2> Tu Perfil </h2>
        <p>
          Te quedan 9 eventos para este mes de noviembre
        </p>
        <div class="usuario">
          {{ user.email }}
        </div>
        <hr>
        <div class="filtros">
          Filtros...
        </div>

      </div>

      <div class="premium">
        <hr>
        <p>¿Querés eventos ilimitados?</p>
        <button mat-button> PREMIUM </button>
      </div>
    </div>

    <mat-divider [vertical]="true"></mat-divider>

    <div class="eventos-container" *ngIf="eventos; else cargando" [ngStyle]="{'width.%': anchoEventos}">

      <div *ngIf="! viendoEvento" class="eventos">
        <mat-card>
          <mat-card-title> Nuevo evento </mat-card-title>
          <mat-card-actions>
            <mat-icon [routerLink]="['eventos/nuevo']" class="add-icon"> add </mat-icon>
          </mat-card-actions>
        </mat-card>

        <mat-card *ngFor="let evento of eventos">
          <mat-card-subtitle> Creada el día 23 de octubre </mat-card-subtitle>
          <mat-card-title> {{ evento.nombre }} </mat-card-title>
          <mat-card-content>
            <div> {{ evento.invitados.length }} invitados </div>
            <div> 3 días distintos </div>
            <div> {{ evento.opciones.length }} opciones </div>
            <mat-card-actions>
              <button mat-button (click)="onVerEvento(evento)"> Ver </button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </div>

      <div *ngIf="viendoEvento" class="mi-evento-container">
        <app-mi-evento-detail [evento]="eventoViendo" (salir)="onSalirDeEvento()"></app-mi-evento-detail>
      </div>

    </div>
  </div>

  <ng-template #cargando>
    cargando...
  </ng-template>
</div>
