<div class="perfil">

  <nav class="navbar">
    <div class="producto">
      Meeting-O-Matic
    </div>
    <div class="boton">
      <button mat-button (click)="onCerrarSesion()"> Cerrar sesión </button>
    </div>
  </nav>

  <div class="content">
    <div class="sidebar">

      <div class="sidebar-content">
        <h2> Tu Perfil </h2>
        <p>
          Te quedan 9 eventos para este mes de noviembre
        </p>
        <div class="usuario">
          {{ user.email }}
        </div>
        <hr>
        <div class="filtros">
          Filtros...
        </div>

      </div>

      <div class="premium">
        <hr>
        <p>¿Querés eventos ilimitados?</p>
        <button mat-button> PREMIUM </button>
      </div>
    </div>

    <div class="eventos" *ngIf="eventos; else cargando">

      <mat-card>
        <mat-card-title> Nuevo evento </mat-card-title>
        <mat-card-actions>
          <mat-icon class="add-icon"> add </mat-icon>
        </mat-card-actions>
      </mat-card>

      <mat-card *ngFor="let evento of eventos">
        <mat-card-subtitle> Creada el día 23 de octubre </mat-card-subtitle>
        <mat-card-title> {{ evento.nombre }} </mat-card-title>
        <mat-card-content>
          <div> {{ evento.invitados.length }} invitados </div>
          <div> 3 días distintos </div>
          <div> {{ evento.opciones.length }} opciones </div>
          <mat-card-actions>
            <button mat-button> Ver </button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>

    </div>
  </div>

  <ng-template #cargando>
    cargando...
  </ng-template>
</div>
