<div class="resultados">
  <div *ngIf="evento" class="resultados-container">

    <h4> Resultados </h4>
    <mat-grid-list *ngIf="evento.opciones" cols="{{ evento.opciones.length + 1 }}" rowHeight="50px">

      <!-- Columnas -->
      <mat-grid-tile> - </mat-grid-tile>
      <mat-grid-tile *ngFor="let opcion of evento.opciones">
        {{ generarTitulo(opcion.fechaInicio, opcion.fechaFinal) }}
      </mat-grid-tile>

      <!-- Votos totales -->
      <mat-grid-tile class="total"> Votos totales </mat-grid-tile>
      <mat-grid-tile class="total" *ngFor="let opcion of evento.opciones">
        {{ votosTotales(opcion) }}
        <span *ngIf="opcionMasVotada != undefined && opcion.id == opcionMasVotada.id">
          <mat-icon> done </mat-icon>
        </span>
      </mat-grid-tile>

      <!-- Votos de los invitados -->

      <span *ngFor="let invitado of evento.invitados">

        <mat-grid-tile> {{ invitado.nombre }} </mat-grid-tile>
        <mat-grid-tile *ngFor="let opcion of evento.opciones">
          <span *ngIf="invitadoVotoOpcion(invitado, opcion)"> X </span>
        </mat-grid-tile>

      </span>

    </mat-grid-list>

  </div>
</div>
