.config-evento {
  margin-right: 20px;
  margin-left: 20px;
  .config-list {

    .password {
      mat-form-field {
        width: 40%;
      }
    }

    .config-item {
      display: flex;
      align-items: center;
      margin-top: 45px;
      margin-bottom: 45px;

      .texto {
        margin-left: 15px;
        text-align: initial;

        .pregunta {
          font-size: 18px;
        }

        .aclaracion {
          font-size: 13px;
        }
      }
    }
  }
}
